@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: #82c3ec;
  /* #cccff8 */
}

@media only screen and (max-width: 600px) {
  background: transparent;
}
